bert-score==0.3.13
codecarbon==3.0.1
datasets==3.6.0
gymnasium==1.1.1
langchain-openai==0.3.24
matplotlib==3.9.2
nltk==3.9.1
numpy==1.26.4
openai==0.28.0
pandarallel==1.6.5
pandas==1.4.2
pyarrow==16.1.0
ragas==0.2.15
requests==2.32.3
rouge-score==0.1.2
sb3-contrib==2.6.0
scipy==1.12.0
spacy==3.8.5
stable-baselines3==2.6.0
tensorflow==2.19.0
torch==2.4.0+cu121
tqdm==4.66.5
vertexai==1.71.1
beautifulsoup4